*,
html {
	font-family: "Open Sans", serif;
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	overflow-x: hidden;

	.content {
		flex-grow: 1;
		transition: margin-left 0.3s ease;
		&.expanded {
			margin-left: 0;
		}
		&.collapsed {
			margin-left: 55px; // Sidebar dalam keadaan tertutup
		}
	}

	.sidebar {
		padding-left: 10px;
		color: white;
		background-color: #26904d;
		padding: 5px;
		display: flex;
		flex-direction: column;
		gap: 3px;
		justify-content: flex-start;
		align-items: center;
		width: 250px;
		transition: all 0.3s ease;

		&.closed {
			width: 55px; // Lebar sidebar ketika ditutup
			.logo h3 {
				display: none; // Sembunyikan teks
			}
			.logo img {
				display: none;
			}
			ul li {
				justify-content: center;
				span {
					display: none; // Sembunyikan label menu
				}
			}
		}

		.logo {
			display: flex;
			flex-direction: row;
			width: 90%;
			padding: 5px;
			border-radius: 5px;
			justify-content: space-between;
			align-items: center;

			.menu-btn {
				width: 50px;
				height: 50px;
				border: none;
				color: white;
				background-color: transparent;
				font-size: 30px;
			}
		}

		ul {
			padding: 3px;
			display: flex;
			flex-direction: column;
			align-items: flex-start; // Posisi ikon dan label
			width: 100%;
			justify-content: center;
			height: 100%;
			gap: 5px;

			li {
				font-weight: bold;
				list-style: none;
				width: 100%;
				height: 45px;
				font-size: 20px;
				display: flex;
				flex-direction: row;
				justify-content: center; // Ikon di kiri, teks di kanan
				align-items: center;

				

				span {
					display: inline; // Tampilkan label teks secara default
				}

				&.bottom {
					margin-top: auto;
				}
			}
		}
	}
}
