.nav-btn {
	border: none !important;
	background-color: transparent;

	&:hover {
		background-color: #e1e1e1;
	}
}

.btn {
	transition: 0.1s ease-in-out;
}

.navbar {
	z-index: 1 !important;
	background-color: white;
}

.data-info {
	display: flex;
	align-items: center;
}

.count {
	width: 85px;
	text-align: center;
}

.dashboard-content {
	.home-ctr {
		margin: auto;
	}
}



.filter-btn {
	border: 1px solid seagreen !important;
	background-color: transparent;
	padding: 8px;
	font-size: 15px;
}

.student-modal {
	border-radius: 10px; /* Rounded corners */
}

.student-card {
	padding: 10px; /* Padding inside the card */
	width: 100%;
	max-width: 450px; /* Max width for card */
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

.qr-code-container {
	text-align: center;
	margin-bottom: 20px; /* Space below QR code */
}

.student-info p {
	margin: 5px 0; /* Space between info paragraphs */
}
